
.card{
	background: $card-bg;
	border: 1px solid $card-b;
	box-sizing: border-box;
	box-shadow: $card-box;
	border-radius: $card-r;
}


.card .card-body hr{
	margin-left: -20px;
	margin-right: -20px;
}
.card-bancos{
	margin-bottom: 19px;
	.card{
		width: 158px;
		height: 55px;
	}
	img{
		margin: auto;
	}
}
.card-row{
	padding: 20px 30px 24px;
	margin-bottom: 10px;
	.form-group{
		padding: 0 5px;
		margin: 0;
	}
	// .form-group label{
	// 	//padding-bottom: 7px;
	// }

}
.card-list{
	margin-bottom: 3px;
	margin-top: 3px;
	span{ font-size: 18px; }
	form{
		width: 100%;
	}
	.form-control:disabled{
		background: #fff;
	}

	.form-group label{
		padding-bottom: 11px;
	}
	.checkbox{
		margin-right: 5px;
	}
}
.card-list .form-group .credit{
    padding-bottom: 0px;
}
.card-list .form-group .custom-control-label{
	padding: 0;
}
.collapse .card{
	background: $socofar-gray_color;
	margin-top: -17px;
	padding-top: 40px;
}

.accordion .card-body{
    background: #E4E9EE;
}
.accordion>.card:not(:last-of-type),.accordion>.card:not(:first-of-type){
	border-radius: 10px !important;
}

.card.card-grey{
	background-color:rgb(192, 190, 190, 0.2);
}
.nav-link-b{
	height: 80px;
	padding:20px;
	border-bottom: 1px solid #d3d2d2;
}
.nav-pills .nav-link-b.active, .nav-pills .show > .nav-link {
	color:$body-color;
	font-weight: 600;
	width:300px;
	background-color: #fff;
}
.sub-link{
	padding-left:3em;
	color:rgba($body-color, 0.5);
}
